<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734996712545-3fphemn277de0i07i7j2m8sliu2dgpun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734996712545-3fphemn277de0i07i7j2m8sliu2dgpun</string>
	<key>API_KEY</key>
	<string>AIzaSyBNWGPXjmim2CiYQTlF26UAZpzM0k8fLM8</string>
	<key>GCM_SENDER_ID</key>
	<string>734996712545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daleel.vendors</string>
	<key>PROJECT_ID</key>
	<string>daleel-df56f</string>
	<key>STORAGE_BUCKET</key>
	<string>daleel-df56f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734996712545:ios:29872fbbdabe8073b52e20</string>
</dict>
</plist>